.about-title-container {
    display: flex;
    justify-content: center;
    height: 90vh;
    width: 100%;
    overflow: hidden;
}
    
.about-title-container video {
    width: 100vw;
    object-fit: cover;
    object-position: 50% 100%;
}
    
.about-all-sase-container {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2% 0;
    gap: 10%;
}
    
.about-all-sase-info {
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    width: 45%;
    text-align: left;
    font-size: clamp(0.9rem, 1.1vw, 1rem);
    padding: 2% 0;
}

.about-all-sase-info p {
    font-size: clamp(1rem, 1vw, 1.5rem);
    line-height: 1.5;
}
    
.about-all-sase-container img {
    width: max(350px, 45%);
    padding: 2% 0;    
}

.about-our-chapter-container {
    width: 80%;
    flex-direction: column;
}

.about-our-chapter-info p{
    font-size: clamp(1rem, 1vw, 1.5rem);
    margin-bottom: 2%;
    line-height: 1.5;
}

.our-impact p {
    line-height: 1.5;
}