@media (min-width: 769px) {
  .header-container {
    height: 10vh;
    max-width: 100vw;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    font-family: 'Oswald';
    position: sticky;
    top: 0;
    z-index: 1000;
  }

  .logo-container {
    display: flex;
    text-align: right;
    align-items: center;
    width: 20vw;
    height: 10vh;
  }

  .logo-container img {
    width: 40%;
    margin-right: 10%;
  }

  .navbar-container {
    display: flex;
    align-items: baseline;
    text-align: center;
    gap: 1%;
    width: 60vw;
  }

  .navbar-button {
    height: 100%;
    width: 100%;
    font-size: clamp(0.8rem, 1vw, 1.0rem);
    color: white; 
    cursor: pointer;
    transition: transform 0.3s;
  }

  .navbar-button:hover {
    transform: translateY(-10px);
  }

  .join-sase-container {
    display: block;
    width: 20vw;
  }

  .join-sase-container button {
    display: block;
    background-color: rgb(191, 191, 191, 0.8);
    border-radius: 8px;
    border-width: 0;
    color: rgba(0, 0, 0);
    cursor: pointer;
    font-size: clamp(0.7rem, 1vw, 1.0rem);
    padding: 2% 4%;
    font-family: 'Oswald';
    width: 40%;
    margin-left: 10%;
  }

  .dropdown-container {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 1000;
    background-color: rgb(0, 0, 0);
    display: block;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }

  .dropdown-item {
    padding: 10px 15px;
    font-size: clamp(0.8rem, 1vw, 1.0rem);
    text-align: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    display: block;
    opacity: 0;
    animation: fadeIn 0.5s ease forwards;
  }

  .dropdown-item:nth-child(1) {
    animation-delay: 0s;
  }
  .dropdown-item:nth-child(2) {
    animation-delay: 0.1s;
  }
  .dropdown-item:nth-child(3) {
    animation-delay: 0.2s;
  }
  .dropdown-item:nth-child(4) {
    animation-delay: 0.3s;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .dropdown-container:hover .dropdown-content {
    display: block;
    position: absolute;
  }

  .dropdown-item:hover {
    background-color: rgb(24, 23, 23);
    cursor: pointer;
  }

  .toggle-container {
    display: none;
  }
}
@media (max-width: 768px) {
  .header-container {
    height: 10vh;
    width: 100vw;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Oswald';
    position: sticky;
    top: 0;
    z-index: 1000;
  }

  .logo-container {
    display: none;
  }

  .navbar-container {
    display: none;
  }

  .join-sase-container {
    display: none;
  }

  .toggle-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 10vh;
  }

  .toggle-logo-container {
    display: flex;
    align-items: center;
    text-align: left;
    width: 50vw;
    height: 10vh;
  }

  .toggle-logo-container img {
    width: 40%;
    margin-left: 10%;
  }

  #toggle-button {
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    width: 50%;
    height: 10vh;
    padding-right: 10%;
    top: 0;
    font-size: 150%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 1001;
  }

  .all-pages {
    background-color: rgb(0, 0, 0);
    position: fixed;
    top: 9vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: auto;
    animation: dropdown 0.5s ease-out;
    z-index: 1002;
  }

  @keyframes dropdown {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .navbar-button {
    padding-top: 2vh;
    padding-bottom: 2vh;
    text-align: center;
    width: 100%;
    font-size: 100%;
    color: white; 
    cursor: pointer;
  }

  .join-sase-button {
    margin-top: 2vh;
    margin-bottom: 2vh;
    display: block;
    background-color: rgb(191, 191, 191, 0.8);
    border-radius: 8px;
    border-width: 0;
    color: rgba(0, 0, 0);
    cursor: pointer;
    font-size: clamp(1rem, 1vw, 1.0rem);
    font-family: 'Oswald';
    width: 100%;
    text-align: center;
  }

  .toggle-join-sase-container {
    display: flex;
    justify-content: center;
    justify-self: center;
    text-align: center;
    width: 100%;
  }

  .options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  ul {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    max-width: 100%;
  }

  .about-toggle {
    margin-top: 2vh;
    font-family: 'Oswald';
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .toggle-click {
    width: 100%;
    cursor: pointer;
    user-select: none;
    justify-content: center;
    font-family: 'Oswald';   
  }
  
  .submenu {
    margin-top: 3vh;
    width: 100vw;
    text-align: center;
    list-style: none;
    animation: fadeIn 0.5s ease-in;    
  }
  
  .submenu li {
    font-weight: bold;
    justify-self: center;
    font-family: 'Oswald';
    margin-top: 2vh;
    margin-bottom: 2vh;
  }

  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(-5px); }
    to { opacity: 1; transform: translateY(0); }
  }

  @keyframes change {
    from {opacity: 0}
    to {opacity: 1}
  }
}

