@media (min-width: 789px) {
  .sponsor-title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    width: 100vw;
    height: 90vh;
  }

  .sponsor-title-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .sponsor-title-container div {
    position: absolute;
    width: 100%;
    height: auto;
    align-self: center;
    font-family: 'Anton';
    animation: riseUp 1s ease-in-out;
  }

    @keyframes riseUp {
    0% {
      transform: translateY(50%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .sponsor-title-container div h1 {
    font-size: clamp(2.5rem, 4vw, 4rem);
    color: white;
    text-shadow: 8px 5px 2px black;
  }

  .who-are-we {
    width: 80%;    
    display: block;
    justify-items: center;
    text-align: left;
    margin: 1% 0;
  }

  .who-are-we-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .who-are-we-content img {
    width: 100%;
    height: 100%;
  }

  .who-are-we-text {
    width: 100%;
    font-size: 1rem;
  }
  
  .our-impact {
    display: block;
    text-align: center;
    width: 80%;
  }

  .our-impact ul {
    list-style-position: inside;
  }

  .future-goals {
    width: 80%;
    text-align: center;
  }

  .more-accomplishment-item {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2% 0;
    border-radius: 5%;
    background-color: white;
    padding: 1%;
    text-align: center;
  }

  .more-accomplishment-item p {
    width: 90%;
  }

  .more-accomplishment-item-image-container {
    height: 400px;
  }

  .more-accomplishment-item-image-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0% 20%;
    border-radius: 5%;
  }

  .more-accomplishment-item-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5%;
  }
}
@media (max-width: 786px) {
    .sponsor-title-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        width: 100vw;
        height: 40vh;
    }
    
    .sponsor-title-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    
    .sponsor-title-container div {
        position: absolute;
        width: 100%;
        height: auto;
        align-self: center;
        font-family: 'Anton';
        animation: riseUp 1s ease-in-out;
    }
    
    @keyframes riseUp {
        0% {
          transform: translateY(50%);
          opacity: 0;
        }
        100% {
          transform: translateY(0);
          opacity: 1;
        }
    }
    
    .sponsor-title-container div h1 {
        font-size: clamp(2.5rem, 4vw, 4rem);
        color: white;
        text-shadow: 8px 5px 2px black;
    }

    .who-are-we {
        width: 90%;    
        display: block;
        justify-items: center;
        text-align: left;
        margin: 1% 0;
    }
    
    .who-are-we-content {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .who-are-we-content img {
        width: 100%;
        height: 100%;
    }
    
    .who-are-we-text {
        width: 100%;
        font-size: 1rem;
    }

    .our-impact {
        display: block;
        text-align: center;
        width: 90%;
    }

    .future-goals {
        width: 90%;
        text-align: center;
    }

    .more-accomplishment-item {
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2% 0;
        justify-content: center;
        border-radius: 5%;
        background-color: white;
        text-align: center;
        padding: 1%;
      }
    
      .more-accomplishment-item p {
        width: 90%;
      }
    
      .more-accomplishment-item-image-container {
        width: 300px;
        height: 300px;
      }
    
      .more-accomplishment-item-image-container video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 0% 20%;
        border-radius: 5%;
      }
    
      .more-accomplishment-item-image-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 0% 20%;
        border-radius: 5%;
      }

      .future-goals {
        text-align: center;
      }
}

.wrap-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    gap: 2%;
}

.exec-intern-item {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.exec-intern-item-image-container {
    width: 200px;
    height: 200px;
}

.exec-intern-item-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.accomplishment-item {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2% 0;
    border-radius: 5%;
    background-color: white;
    text-align: center;
    padding: 1%;
}

.accomplishment-item p {
    width: 90%;
}

.accomplishment-item-image-container {
    width: 300px;
    height: 200px;
}

.accomplishment-item-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 5%;
}

  .future-goals-item {
    width: 400px;
    display: flex;
    align-items: center;
    margin: 2% 0;
    border-radius: 5%;
    background-color: white;
    text-align: center;
    padding: 1%;
    justify-content: space-between;
  }

  .future-goals-item p {
    width: 70%;
  }

  .future-goals-item-image-container {
    width: 100px;
    height: 100px;
  }

  .future-goals-item-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 100%;
  }





