@media (min-width: 769px) {
    .main-image-container {
      display: flex;
      justify-content: center;
      overflow: hidden;
      width: 100vw;
      height: 90vh;
    }

    .main-image-container img {
      object-fit: cover;
      object-position: top;
      width: 100%;
    }

    .intro-container {
      position: absolute;
      width: 100%;
      height: auto;
      align-self: center;
      font-family: 'Anton';
      animation: riseUp 0.5s ease-in-out;
    }

    .title-container {
      line-height: 2vh;
    }

    @keyframes riseUp {
      0% {
        transform: translateY(50%);
        opacity: 0;
      }
      100% {
        transform: translateY(0);
        opacity: 1;
      }
    }

    .intro-container h1 {
      font-size: clamp(2.5rem, 4vw, 4rem);
      color: white;
      text-shadow: 8px 5px 2px black;
    }

    .intro-container h3 {
      font-size: clamp(1.5rem, 2vw, 2rem);
      color: rgb(255, 255, 255);
      text-shadow: 8px 5px 2px black;
    }

    .intro-navbar {
      display: flex;
      width: 100%;
      justify-content: center;
      padding: 5% 0;
    }

    .intro-navbar-button {
      background-color: white;
      font-size: clamp(1.2rem, 1.5vw, 1.5rem);
      letter-spacing: 2px;
      text-decoration: none;
      text-transform: uppercase;
      color: #000;
      cursor: pointer;
      border: 3px solid;
      padding: 0.25em 0.5em;
      box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
      position: relative;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      margin-left: 1%;
      margin-right: 1%;
    }

    .intro-navbar-button:active {
      box-shadow: 0px 0px 0px 0px;
      top: 5px;
      left: 5px;
    }
}
@media (max-width: 768px) {
    .main-image-container {
      display: flex;
      justify-content: center;
      overflow: hidden;
      width: 100%;
      height: 40vh;
    }

    .main-image-container img {
      object-fit: cover;
      object-position: top center;
      width: 100%;
    }

    .intro-container {
      width: 100%;
      align-self: center;
      position: absolute;
      font-family: 'Anton';
      animation: riseUp 0.5s ease-in-out;
    }

    @keyframes riseUp {
      0% {
        transform: translateY(50%);
        opacity: 0;
      }
      100% {
        transform: translateY(0);
        opacity: 1;
      }
    }

    .title-container {
        line-height: 2vh;
    }

    .intro-container h1 {
      font-size: clamp(1rem, 4vw, 2rem);
      color: white;
      text-shadow: 8px 5px 2px black;
    }

    .intro-container h3 {
      font-size: clamp(0.5rem, 4vw, 1rem);
      color: rgb(255, 255, 255);
      text-shadow: 8px 5px 2px black;
    }

    .intro-navbar {
      display: flex;
      width: 100%;
      justify-content: center;
      padding: 5% 0;
    }

    .intro-navbar-button {
      background-color: white;
      font-size: clamp(0.6rem, 1vw, 1rem);
      letter-spacing: 2px;
      text-decoration: none;
      text-transform: uppercase;
      color: #000;
      cursor: pointer;
      border: 3px solid;
      padding: 0.25em 0.5em;
      box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
      position: relative;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      margin-left: 1%;
      margin-right: 1%;
    }

    .intro-navbar-button:active {
      box-shadow: 0px 0px 0px 0px;
      top: 5px;
      left: 5px;
    }
}