/* General for every page */
  body {
    padding: 0%;
    margin: 0%;
    width: 100%;
    background-color: rgb(191, 191, 191);
    font-family: 'Inter';
  }

  a {
    text-decoration: none;
  }
/* General for every page */

/* Header Style */
  @media (min-width: 1024px) {
    .header-container {
      background-color: rgb(0, 0, 0);
      display: flex;
      align-items: center;
      font-family: 'Oswald';
    }

    .logo-container {
      width: 20%;
    }

    .logo-container img {
      display: block;
      width: 50%;
      justify-self: right;
    }

    .navbar-container {
      display: flex;
      width: 60%;
    }

    .navbar-button {
      height: 100%;
      background-color: rgb(0, 0, 0);
      text-align: center;
      width: 100%;
      font-size: 1em;
      color: white; 
      cursor: pointer;
    }

    .join-sase-container {
      width: 20%;
    }

    .join-sase-container button {
      display: block;
      background-color: rgb(191, 191, 191, 0.8);
      border-radius: 8px;
      border-width: 0;
      color: rgba(0, 0, 0);
      cursor: pointer;
      font-size: 100%;
      padding: 2% 4%;
      justify-self: left;
      margin-left: 10%;
      font-family: 'Oswald';
    }

    .dropdown-container {
      position: relative;
      display: inline-block;
    }

    .dropdown-content {
      position: absolute;
      top: 100%; /* directly below the button */
      width: 100%;
      z-index: 1000;
      background-color: rgb(0, 0, 0);
      display: block;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
      cursor: pointer;
    }

    .dropdown-item {
      padding: 10px 15px;
      text-align: center;
      text-decoration: none;
      color: rgb(255, 255, 255);
      font-weight: bold;
      display: block;
    }

    .dropdown-container:hover .dropdown-content {
      display: block;
      position: absolute;
    }

    .dropdown-item:hover {
      background-color: rgb(24, 23, 23);
      cursor: pointer;
    }

    .toggle-container {
      display: none;
    }
  }

  @media (max-width: 1023px) and (min-width: 600px) {
    .header-container {
      width: 100%;
      height: 10vh;
      background-color: rgb(0, 0, 0);
      display: flex;
      align-items: center;
      font-family: 'Oswald';
    }

    .logo-container {
      display: none;
    }

    .navbar-container {
      display: none;
    }

    .join-sase-container {
      display: none;
    }

    .toggle-container {
      display: flex;
      width: 100%;
      height: 100%;
    }

    .toggle-logo-container {
      width: 50%;
      align-self: center;
    }

    .toggle-logo-container img {
      display: block;
      width: 40%;
      justify-self: left;
      padding-left: 10%;
    }

    .toggle {
      display: flex;
    }
    
    #open-pages {
      background-color: black;
      color: white;
      border: none;
      width: 100%;
      height: 100%;
      font-size: 150%;
      display: flex;
      justify-content: right;
      padding-right: 10%;
      align-items: center;
      position: relative;
    }

    #close-pages {
      background-color: rgb(0, 0, 0);
      color: white;
      border: none;
      height: 10vh;
      width: 100%;
      font-size: 150%;
      display: flex;
      justify-content: right;
      padding-right: 5%;
      align-items: center;
      position: relative;
      animation: change 0.5s ease-in;
    }

    .all-pages {
      background-color: black;
      display: flex;
      align-items: center;
      flex-direction: column;
      position: relative;
      width: 100vw;
      height: 80vh;
      animation: dropdown 0.5s ease-out;
    }

    .navbar-button {
      padding-top: 2vh;
      padding-bottom: 2vh;
      text-align: center;
      width: 100vw;
      font-size: 100%;
      color: white; 
      justify-self: center;
      align-self: center;
      position: relative;
    }

    .join-sase-button {
      margin-top: 2.5vh;
      display: block;
      background-color: rgb(191, 191, 191, 0.8);
      border-radius: 8px;
      border-width: 0;
      color: rgba(0, 0, 0);
      cursor: pointer;
      font-size: 100%;
      padding: 2% 4%;
      justify-self: center;
      font-family: 'Oswald';
    }

    .options {
      display: flex;
      flex-direction: column;
      width: 100vw;
      margin-bottom: 0;
      align-self: center;
    }

    @keyframes dropdown {
      from {
        opacity: 0;
        transform: translateY(-10px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }

    ul {
      margin: 0px;
      padding: 0px;
      width: 100vw;
      max-width: 100%;
    }

    .about-toggle {
      padding-top: 2.5vh;
      padding-bottom: 2.5vh;
      justify-content: center;
      font-family: 'Oswald';
      font-weight: bold;
      text-align: center;
    }

    .expandable {
      width: 100%;
      justify-self: center;
      color: white;
      list-style: none;
      position: relative;
    }
    
    .toggle-click {
      width: 100%;
      cursor: pointer;
      user-select: none;
      justify-content: center;
      font-family: 'Oswald';   
    }
    
    .submenu {
      width: 100vw;
      text-align: center;
      justify-self: center;
      list-style: none;
      animation: fadeIn 0.5s ease-in;  
    }
    
    .submenu li {
      font-weight: bold;
      justify-self: center;
      font-family: 'Oswald';
      padding-top: 2vh;
    }
    
    @keyframes fadeIn {
      from { opacity: 0; transform: translateY(-5px); }
      to { opacity: 1; transform: translateY(0); }
    }

    @keyframes change {
      from {opacity: 0}
      to {opacity: 1}
    }
  }

  @media (max-width: 600px) {
    .header-container {
      width: 100%;
      height: 6vh;
      background-color: rgb(0, 0, 0);
      display: flex;
      align-items: center;
      font-family: 'Oswald';
    }

    .logo-container {
      display: none;
    }

    .navbar-container {
      display: none;
    }

    .join-sase-container {
      display: none;
    }

    .toggle-container {
      display: flex;
      width: 100%;
      height: 100%;
      min-height: 100%;
    }

    .toggle-logo-container {
      width: 50%;
      align-self: center;
    }

    .toggle-logo-container img {
      display: block;
      width: 40%;
      justify-self: left;
      padding-left: 10%;
    }

    .toggle {
      display: flex;
    }
    
    #open-pages {
      background-color: black;
      color: white;
      border: none;
      width: 100%;
      height: 100%;
      font-size: 150%;
      display: flex;
      justify-content: right;
      padding-right: 5%;
      align-items: center;
      position: relative;
    }

    #close-pages {
      background-color: rgb(0, 0, 0);
      color: white;
      border: none;
      height: 6vh;
      font-size: 150%;
      display: block;
      justify-content: right;
      align-items: center;
      position: relative;
      animation: change 0.5s ease-in;
    }

    .all-pages {
      background-color: black;
      display: flex;
      flex-direction: column;
      position: sticky;
      width: 100vw;
      height: 80vh;
      animation: dropdown 0.5s ease-out;
    }

    .navbar-button {
      padding-top: 3vh;
      padding-bottom: 3vh;
      text-align: center;
      width: 100%;
      font-size: 100%;
      color: white; 
      cursor: pointer;
      justify-self: center;
    }

    .join-sase-button {
      margin-top: 3vh;
      display: block;
      background-color: rgb(191, 191, 191, 0.8);
      border-radius: 8px;
      border-width: 0;
      color: rgba(0, 0, 0);
      cursor: pointer;
      font-size: 100%;
      padding: 2% 4%;
      justify-self: center;
      font-family: 'Oswald';
    }

    .options {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-bottom: 0;
      align-self: center;
    }

    @keyframes dropdown {
      from {
        opacity: 0;
        transform: translateY(-10px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }

    ul {
      margin: 0px;
      padding: 0px;
      width: 100vw;
      max-width: 100%;
    }

    .about-toggle {
      padding-top: 2.5vh;
      padding-bottom: 2.5vh;
      font-family: 'Oswald';
      font-weight: bold;
      text-align: center;
    }

    .expandable {
      width: 100%;
      justify-self: center;
      color: white;
      list-style: none;
      position: relative;
    }
    
    .toggle-click {
      width: 100%;
      cursor: pointer;
      user-select: none;
      justify-content: center;
      font-family: 'Oswald';   
    }
    
    .submenu {
      width: 80vw;
      text-align: center;
      justify-self: center;
      padding-top: 1vh;
      list-style: none;
      animation: fadeIn 0.5s ease-in;    
    }
    
    .submenu li {
      font-weight: bold;
      justify-self: center;
      font-family: 'Oswald';
      padding-top: 1vh;
    }

    @keyframes fadeIn {
      from { opacity: 0; transform: translateY(-5px); }
      to { opacity: 1; transform: translateY(0); }
    }

    @keyframes change {
      from {opacity: 0}
      to {opacity: 1}
    }
  }
/* Header Style */

/* Footer Style */

/* Footer Style */






/* Start of Main Page */

/* End of Main Page */


/* Start of Exec Body */
  #exec-header {
    text-align: center;
    font-size: 300%;
  }

  .img-section {
    width: 75%;
    display: block;
    height: auto;
    justify-self: center;
    justify-content: center;
    border-color: black;
    border-top-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    margin-top: 0px;
  }

  .img-row {
    width: 95%;
    justify-self: center;
    padding: 1%;
  }

  .img-indiv {
    display: grid;
    justify-items: center;
    padding: 2%;
    overflow: hidden;
    transition: max-height 0.4s ease, opacity 0.4s ease,
  }

  .img-row > img {
    min-width: 80%;
    width: 80%;
    height: auto;
    cursor: pointer;
    position: absolute;
    transition: max-height 0.4s ease, opacity 0.4s ease;
  }

  .member-images {
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
  }

  .info-container {
    display: block;
    justify-items: center;
  }
/* End of Exec Body */

/* Start of Sponsor Page */
  .sase-info-container {
    display: block;
    justify-self: center;
    width: 65%;
  }

  .who-are-we {
    display: block;
    justify-items: center;
  }

  .who-are-we > img {
    display: flex;
    justify-self: center;
    width: 90%;
    padding: 2%;
  }

  .who-are-we > div {
    width: 100%;
    display: block;
    padding: 2%;
    text-align: right;
    font-size: 110%;
  }

  .about-our-chapter {
    display: block;
    text-align: left;
  }

  #saseLNY {
    display: flex;
    justify-self: center;
    width: 90%;
    padding: 2%;
  }

  #natcon {
    display: flex;
    justify-self: center;
    width: 90%;
    padding: 2%;
  }

  .first-graphs {
    display: flex;
    width: 80%;
    justify-self: center;
  }

  .first-graphs > img {
    display: flex;
    align-self: center;
    width: 40%;
    height: 100%;
    padding-right: 20%;
  }

  .first-graphs > ul {
    display: block;
    width: 60%;
    padding: 5%;
  }

  .second-graphs {
    display: flex;
    width: 80%;
    justify-self: center;
  }

  .second-graphs > img {
    display: flex;
    align-self: center;
    width: 40%;
    height: 100%;
    padding: 5%;
  }

  .second-graphs > ul {
    display: block;
    width: 60%;
    padding-right: 20%;
    align-self: center;
  }

  .impact ul li {
    padding: 1%;
  }

/* End of Sponsor Page */
